.containerr {
  height: 300vh;
  background-color: #d0f2dc;
}

.navbar-bg {
  background-color: #d0f2dc;
}

.logo {
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.toggler {
  background-color: white;
  border-radius: 30px;
  border: 2px solid black;
}

.home {
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.shop {
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.about {
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.blog {
  color: black;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
}

.heading-1 {
  font-weight: bold;
  font-size: 60px;
  font-style: italic;
  padding: 5px;
  padding-top: 5px;
}

.heading-2 {
  color: rgb(6, 145, 99);
  font-weight: bold;
  font-size: 47px;
  font-style: italic;
  padding: 5px;
  padding-top: 5px;
}

.para-list {
  color: black;
  text-align: left;
  padding-left: 20px;
  font-weight: normal;
  font-size: 20px;
  font-style: italic;
  list-style-type: square;
}

.button {
  height: 30px;
  width: 60px;
  color: white;
  background-color: black;
  margin: 10px;
  border-radius: 50%;
}

img {
  padding: 30px;
  height: 380px;
  width: 640px;
  border-radius: 100%;
}

.para-1 {
  color: white;
  background-color: rgb(1, 67, 46);
  font-weight: bolder;
  font-style: italic;
  font-size: 30px;
  padding: 30px;
}

.heading-3 {
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
}

.para-2 {
  text-align: center;
  font-style: italic;
  font-size: 25px;
}

.bg-color {
  height: 50vh;
  background-image: url("https://t3.ftcdn.net/jpg/08/89/96/58/240_F_889965837_d23hYujrMx8iSxMer0SQil8NukCdjjnC.jpg");
  background-size: cover;
}

.heading-4 {
  color: rgb(3, 97, 64);
  font-weight: bold;
  font-style: italic;
  font-size: 40px;
  text-align: center;
}

.bg-color-1 {
  height: 50vh;
  background-color: #d0f2dc;
  background-size: cover;
  padding: 15px;
}

.card-1 {
  height: 330px;
  border: 3px black solid;
  border-radius: 20px;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card-img-top-1 {
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.card-2 {
  height: 330px;
  border-radius: 20px;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img-top-2 {
  height: 155px;
  width: 285px;
  padding: 5px;
  border-radius: 5px;
}

.card-3 {
  height: 135px;
  border: 3px black solid;
  border-radius: 20px;
  font-style: italic;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-img-top-3 {
  height: 50px;
  width: 60px;
  padding: 5px;
}
.img-1 {
  height: 20px;
  width: 30px;
}

.card {
  height: 190px;
  width: 80vw;
}
.container-3 {
  display: flex;
  justify-content: center;
  gap: 30px;
}

#img {
  height: 40px;
  width: 30px;
}
